
<ion-view view-title="我的设置">
  <ion-content class="padding">

      <h2>功能正在开发中...</h2>
    <!-- user-icon -->
    <div class="card">
      <div class="item item-text-wrap">
        <div class="item item-avatar">
          <img src="{{user.icon}}">
          <h2>我的头像</h2>
          <input type="file" file-model="myFile"/>
        </div>

      </div>
    </div>

    <!-- password -->
    <div class="card">
      <div class="item item-text-wrap">
        <h2>我的密码</h2>
        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="新密码">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="请再次输入新密码">
          </label>
        </div>
        <button class="button button-block button-positive">
          提交
        </button>

      </div>
    </div>

  </ion-content>
</ion-view>
