
<ion-view view-title="我的设置">
  <ion-content class="padding">

    <!-- user-icon -->
    <!-- <div class="card">
      <div class="item item-text-wrap">
        <div class="item item-avatar">
          <img src="{{user.icon}}">
          <h2>我的头像</h2>
          <input type="file" file-model="myFile"/>
        </div>

      </div>
    </div> -->

    <!-- password -->
    <div class="card">
      <div class="item item-text-wrap">
        <h2>我的密码</h2>
        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="新密码" ng-model="newPass">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="请再次输入新密码" ng-model="newPassAgain">
          </label>
        </div>
        <button class="button button-block button-positive" ng-click="changePass(newPass, newPassAgain)">
          提交
        </button>
        <img src="img/loading.gif" style="width:40%;margin-left:30%;margin-top:5%" ng-if="loading"/>
      </div>
    </div>

  </ion-content>
</ion-view>
