<ion-view view-title="我的徽章">
  <ion-content>
			<!-- Main -->
				<section id="main" class="container" style="margin-top:-5%">
					<div class="box">
						<span class="image featured">
						<div class="badge" style="width:100%;padding:0 5px 0 20px">
							<img src="images/badge/网站设计师徽章彩.png" title="网站设计师徽章">
							<img src="images/badge/参与项目成就.png" title="参与项目成就">
							<img src="images/badge/带队成就灰.png" title="带队成就">
							<img src="images/badge/读书单5本灰.png" title="读书单5本">
							<img src="images/badge/发布精品图文视频灰.png" title="发布精品图文视频">
							<img src="images/badge/家书写作成就灰.png" title="家书写作成就">
							<img src="images/badge/开辟线路成就.png" title="开辟线路成就">
							<img src="images/badge/外联成就灰.png" title="外联成就">
							<img src="images/badge/组织活动成就.png" title="组织活动成就">
							<img src="images/badge/Captain灰.png" title="Captain">
							<img src="images/badge/Minster.png" title="Minster">
							<img src="images/badge/PACoor彩.png" title="PACoor">
							<img src="images/badge/ViceCaptain.png" title="Vice Captain">
							<img src="images/badge/AE灰.png" title="软件技能AE">
							<img src="images/badge/DW.png" title="软件技能DW">
							<img src="images/badge/LR灰.png" title="软件技能LR">
							<img src="images/badge/PS.png" title="软件技能PS">
							<img src="images/badge/AI.png" title="软件技能AI">
							<img src="images/badge/FW灰.png" title="软件技能FW">
							<img src="images/badge/PR灰.png" title="软件技能PR">
						</div>
						</span>
						<hr style="width:100%; margin-top:-10%">
						<h3>如何点亮剩余徽章</h3>
						<p>现在我做的这个sample就是假设这个叫派派的人点亮了部分徽章。这个地方我就是准备如果你那盏灯没有点亮就放你该如果获得这个技能。比如PS的灯没有亮，就是写你需要做什么之类巴拉巴拉。这个在电脑端，如果鼠标停悬在这个徽章上，是会显示徽章的内容的。</p>

					</div>
				</section>
			</ion-content>
		</ion-view>
