<ion-view view-title="我的徽章">
  <ion-content>
    <div class="badgeimg">
    <div class="row">
      <div class="col">
        <img src="images/badge/网站设计师徽章彩.png" ng-if="user.web_designer" title="网站设计师徽章">
        <img src="images/badge/网站设计师徽章灰.png" ng-if="!user.web_designer" title="网站设计师徽章">
        <br/>
        <p align="center">网站设计师</p></div>
      <div class="col">
        <img src="images/badge/参与项目成就.png" ng-if="user.proj_accom" title="参与项目成就">
        <img src="images/badge/参与项目成就灰.png" ng-if="!user.proj_accom" title="参与项目成就">
        <br/>
        <p align="center">参与项目成就</p></div>
      <div class="col">
        <img src="images/badge/带队成就.png" ng-if="user.team_accom" title="带队成就">
        <img src="images/badge/带队成就灰.png" ng-if="!user.team_accom" title="带队成就">
        <br/>
        <p align="center">带队成就</p></div>
    </div>
    <div class="row">
      <div class="col">
        <img src="images/badge/读书单5本.png" ng-if="user.book5" title="读书单5本">
        <img src="images/badge/读书单5本灰.png" ng-if="!user.book5" title="读书单5本">
        <br/>
        <p align="center">读书单5本</p></div>
      <div class="col">
        <img src="images/badge/发布精品图文视频.png" ng-if="user.video" title="发布精品图文视频">
        <img src="images/badge/发布精品图文视频灰.png" ng-if="!user.video" title="发布精品图文视频">
        <br/>
        <p align="center">发布精品图文视频</p></div>
      <div class="col">
        <img src="images/badge/家书写作成就.png" ng-if="user.writing" title="家书写作成就">
        <img src="images/badge/家书写作成就灰.png" ng-if="!user.writing" title="家书写作成就">
        <br/>
        <p align="center">家书写作成就</p></div>
    </div>
    <div class="row">
      <div class="col">
        <img src="images/badge/开辟线路成就.png" ng-if="user.newroute" title="开辟线路成就">
        <img src="images/badge/开辟线路成就灰.png" ng-if="!user.newroute" title="开辟线路成就">
        <br/>
        <p align="center">开辟线路成就</p></div>
      <div class="col">
        <img src="images/badge/外联成就.png" ng-if="user.social" title="外联成就">
        <img src="images/badge/外联成就灰.png" ng-if="!user.social" title="外联成就">
        <br/>
        <p align="center">外联成就</p></div>
      <div class="col">
        <img src="images/badge/组织活动成就.png" ng-if="user.organize" title="组织活动成就">
        <img src="images/badge/组织活动成就灰.png" ng-if="!user.organize" title="组织活动成就">
        <br/>
        <p align="center">组织活动成就</p></div>
    </div>
    <div class="row">
      <div class="col">
        <img src="images/badge/Captain彩.png" ng-if="user.Captain" title="Captain">
        <img src="images/badge/Captain灰.png" ng-if="!user.Captain" title="Captain">
        <br/>
        <p align="center">Captain</p></div>
      <div class="col">
        <img src="images/badge/Minster.png" ng-if="user.Minster" title="Minster">
        <img src="images/badge/Minster灰.png" ng-if="!user.Minster" title="Minster">
        <br/>
        <p align="center">Minster</p></div>
      <div class="col">
        <img src="images/badge/PACoor彩.png" ng-if="user.PACoor" title="PACoor">
        <img src="images/badge/PACoor灰.png" ng-if="!user.PACoor" title="PACoor"><br/>
        <p align="center">PACoor</p></div>
    </div>
    <div class="row">
      <div class="col">
        <img src="images/badge/ViceCaptain.png" ng-if="user.ViceCaptain" title="Vice Captain">
        <img src="images/badge/ViceCaptain灰.png" ng-if="!user.ViceCaptain" title="Vice Captain">
        <br/>
        <p align="center">Vice Captain</p></div>
      <div class="col">
        <img src="images/badge/AE.png" ng-if="user.AE" title="软件技能AE">
        <img src="images/badge/AE灰.png" ng-if="!user.AE" title="软件技能AE">
        <br/>
        <p align="center">软件技能AE</p></div>
      <div class="col">
        <img src="images/badge/DW.png" ng-if="user.DW" title="软件技能DW">
        <img src="images/badge/DW灰.png" ng-if="!user.DW" title="软件技能DW">
        <br/>
        <p align="center">软件技能DW</p></div>
    </div>
    <div class="row">
      <div class="col">
        <img src="images/badge/LR.png" ng-if="user.LR" title="软件技能LR">
        <img src="images/badge/LR灰.png" ng-if="!user.LR" title="软件技能LR">
        <br/>
        <p align="center">软件技能LR</p></div>
      <div class="col">
        <img src="images/badge/PS.png" ng-if="user.PS" title="软件技能PS">
        <img src="images/badge/PS灰.png" ng-if="!user.PS" title="软件技能PS">
        <br/>
        <p align="center">软件技能PS</p></div>
      <div class="col">
        <img src="images/badge/AI.png" ng-if="user.AI" title="软件技能AI">
        <img src="images/badge/AI灰.png" ng-if="!user.AI" title="软件技能AI">
        <br/>
        <p align="center">软件技能AI</p></div>
    </div>
    <div class="row">
      <div class="col">
        <img src="images/badge/FW.png" ng-if="user.FW" title="软件技能FW">
        <img src="images/badge/FW灰.png" ng-if="!user.FW" title="软件技能FW">
        <br/>
        <p align="center">软件技能FW</p></div>
      <div class="col">
        <img src="images/badge/PR.png" ng-if="user.PR" title="软件技能PR">
        <img src="images/badge/PR灰.png" ng-if="!user.PR" title="软件技能PR">
        <br/>
        <p align="center">软件技能PR</p></div>
      <div class="col"></div>
    </div>
      </div>
			</ion-content>
		</ion-view>
