<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="文章详情">

  <ion-content class="padding">
    <div class="list card">

  <div class="item item-avatar">
    <img src={{selectPost.image}}>
    <h2>{{selectPost.author}}</h2>
    <p>{{selectPost.postDate}}</p>
  </div>

  <div class="item item-body">
    <!-- <img class="full-image" src="img/test.png"> -->
    <p ng-bind-html=selectPost.content>
      <!-- {{selectPost.content}} -->
    </p>
    <p>
      <a href="#" class="subdued">0 Comments</a>
    </p>
  </div>
</div>

<!-- comment -->
<button class="button button-full button-positive" ng-click="comment()">
  发表评论（该功能暂不可用）
</button>
<div class="list">

  <a class="item item-avatar" href="#">
    <img src="img/paipai.jpg">
    <h2>派派</h2>
    <p>这真是一篇旷世好文章啊！</p>
  </a>
  <a class="item item-avatar" href="#">
    <img src="img/paipai.jpg">
    <h2>派派</h2>
    <p>这真是一篇旷世好文章啊！</p>
  </a>
  <a class="item item-avatar" href="#">
    <img src="img/paipai.jpg">
    <h2>派派</h2>
    <p>这真是一篇旷世好文章啊！</p>
  </a>
  <a class="item item-avatar" href="#">
    <img src="img/paipai.jpg">
    <h2>派派</h2>
    <p>这真是一篇旷世好文章啊！</p>
  </a>

</div>

  </ion-content>
</ion-view>
