<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <div class="list card">

  <div class="item item-avatar">
    <img src="mcfly.jpg">
    <h2>11</h2>
    <p>2016-06-26</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="delorean.jpg">
    <p>
      我转过头望向西南方，滚烫瑰色天际线蜿蜒无尽头，像极了安博朗戈德的日落。<br/>

手持几十万斯里兰卡卢比走在纱丽店里时，我其实是慌张的，在这个以农业为经济支柱的发展中国家里，我手中的钱也许是他们一套海边独栋小房的首付，光线昏暗的服装店，无所事事的男店员，相差140倍的美元和卢比被塞在同一个竹编麻袋中，电风扇挂着蜘蛛丝呼呼呼地旋转，这场景像极了印度黑帮电影《风筝》中权钱交易的地方，思考间，叽里咕噜的当地语言又给彼此对话蒙上了神秘色彩。<br/>

来兰卡的时候正逢热带风暴过境后几天，由热带风暴衍生的洪灾带给这个国家不小的伤害，尤其是随之而增长的抢包率和登革热病率，让我对这个小镇的人没办法立刻产生好感。像我们这种，打着“知识等待被传播”“拯救渴望读书的大眼睛”的支教幌子的人实际上却是带动当地旅游业的攻坚力量，走在小镇上的时候，我们默契地走成了一列，拥挤的道路上穿纱丽纱笼和现代服饰的人群交错混杂，我们像一长艘小艇穿梭其中，走到哪里都能掀起一小朵浪花。白底黑眼睛的男孩儿们会从公交车上探出脑袋看这一群奇怪的需要被当地人护送的外国人，他们的脸上没有油光没有汗水，皮肤像深棕色的光滑大鲵，和他们对视的时候他们会害羞的用长睫毛遮住眼帘，从那些玻璃珠一样的眼里我仿佛看见了我们脸上即将融掉的粉底液。初来乍到，在我还无法对整个城市留下印象的时候，是这里的孩子们硬生生地闯入脑海，挤开脑中的空白，留下他们明亮灼人的目光。<br/>




他们融了几分欧洲人立体的五官，齐刷刷长着一溜乌黑发亮的眼睛，大而宽的双眼皮配上小扇子一样的睫毛，是天生忧郁的精灵。支教的学校离酒店五分钟车程，隐在一片树荫里面，蹩脚的中式英语与咖喱味的卷舌发音在这里碰撞出了奇妙的火花。列队欢迎后，有些随意的选课排班组队上课，十个年级在一个小院子里，小孩子像小动物一样被圈在一个一个的房间里面，一个年级一个班，一个班二到五个人，统一的海蓝色校服，小女孩儿辫子上还会绑上蓝丝带，看见你一定会“Teacher! Teacher!”的呼喊，白白的牙齿熠熠生辉。我和一个男孩子教六年级数学和三年级环境，用当地语言一节课可以搞定的课程时间在我们这里翻了一倍，室内没有空调没有风扇，汗水沿着碎发一直一直地流，防晒霜凝成了白色的盐，风很少，对流雨却十分强烈。上课的时候，小孩子们的眼神纯洁又狡黠，理解不了时他们的眉头会轻轻地皱在一起眼里满是茫然，但有小秘密的时候就用斯里兰卡语小声交流着，还不忘看看我们，尽显小孩子的小聪明。每个年级的孩子都有着他们那个年纪应有的纯真，每每回忆起来都十分温暖。在最后一次上课之前，当地负责人的儿子小哥告诉我们，你们走的那天所有小孩子一定都会抱着你们哭，然而事实上却不是这样，我们一个一个地轻轻拥抱互送祝福的卡片和小礼品，牵着他们的手和他们一起自拍，他们并未哭泣，因为他们也知道，我们只是他们人生中极短的过客，匆匆出现又匆匆离开，在他们的生活中轻描淡写地留下一笔，像候鸟掠过云烟，悄然无息。最后一节课我教了一个叫阿娣蒂亚的女孩儿一句中文歌词“我相信我们还会再见，我相信我会一直想念”，人就是这样，明知道不可能的事情却总想为对方留下一些念想，系在心上，不枉来过。刚坐上回酒店的大巴时，我突然想起第一堂课结束的时候，阿娣有些急促的站起来仰望着我们却又十分虔诚地说到：”Please do come again tomorrow!”，我猛地起身回头想再看一眼那个系满蓝丝带的学校，却发现大巴已经拐了个弯，身后已是另一番景象了。




除去支教的时间，剩余的大部分时间我们都在体验着当地或传统或特色的一些活动，负责人安排的也挺好，总是想让我们尽可能地体验到这个南亚小国特有的东西，比如坐几个小时的山车只为半个小时的漂流，比如划很久的船去看一座正好关门的寺庙，比如颠簸很久去到大象孤儿院然后被大象驮着上山下水，比如早起顶着烈日靠着断腿去爬世界第八大奇迹狮子岩，还比如和水蛭的三小时亲密接触。这应该是在兰卡最难忘最刻骨的一段经历了，也是这一段经历让整个团队的人几乎自动地把水蛭和兰卡画上了等号。这段行程的官方名字叫做丛林探险，顾名思义就是探索热带雨林，有通知尽量穿长袖长裤毕竟会有很多蚊虫。去的当天在下小雨，雨林闷闷的，路也很不好走，泥土被浸泡地松松软软地，凹凸不平的地面积了很多小水坑，我们走的时候还是说说笑笑，突然一声尖叫划破天际像极了美式恐怖片的桥段。细细的，小拇指长短的水蛭，浑身褐色光泽，一端吸附在一个女孩的脚踝上，蜿蜒着扭曲着且不断地向上爬。水蛭对于大多数的我们来说都不陌生，但亲眼见证水蛭吸血确实充满了视觉冲击。后面的故事我不愿意详细地去说，因为怕这恶心的物种再次闯入我的梦境，几句话概括，我们在三小时内受到了水蛭大军的集体攻击且我们伤亡惨重，绝大多数人负伤而归，水蛭的冲击直接影响了当日的胃口也给我们留下了不小的水蛭后遗症，比如当问起兰卡盛产什么的时候第一反应一定会快速说出水蛭，微信聊天时最有杀伤力的语句变成了“野生的水蛭出现了！”你不能说这是不快乐的经历，但这却十分刻骨铭心且充满着热带的味道。<br/>




其实我是一直在催促着自己快写快写，快点用文字把这些或好或坏的记忆记录下来。人的大脑多有趣，日子一长就会自动清理记忆，会让你忘记固定规律的行程，却让你记住无关紧要的琐碎片段。你也许记不清来兰卡的第二天和倒数第二天干了什么，但我却能记住小哥的那个芬达形状的移动音箱是橘色的，塔莎穿校服的时候会穿上白蕾丝花边的小袜子，当地餐厅门口搭讪的德国老头带了一个白色草帽，火车上邻座的大叔在我们斗嘴时轻轻一笑。有人喜欢用照片定格一段记忆，我却喜欢用文字，小时候老师总说好记忆不如烂笔头，我十分认同，因为文字很忠贞，它在岁月面前一动不动永远保持着当时的模样。<br/>

如果我不说，你是否还记得在酒店后面的海滩上我们手牵着手笑着迎着一波又一波及胸的海浪，你是否还记得阴差阳错机缘巧合我们躲过了一场必经路上的爆炸，你是否还记得在加勒的黄昏我们坐在悬崖上看没有边际的海浪和漫天的霞光，你是否还记得宝石工厂说蹩脚中文的导购反复强调宝石中国太贵啦，你又是否还记得在康提凉爽的夜晚我们翘着脚躺在躺椅上悠哉地蹭着大堂的WiFi。<br/>

如果记不住，我就为你轻轻唤起，如果能记住，那最好不过。<br/>



所有碎片聚集起来像是拼成了一个关于锡兰的梦，有时我真的愿意长睡不复醒，仿佛起床后还能吃到黄油草莓酱和木瓜的早餐，向楼下一看，那个画着彩虹的小巴士就在一楼停着，旁边是笑着的灰发老头和打了眉钉的帅哥，塔莎和莎米拉在车门口对你招手，小哥穿梭跳跃在楼道间，不停地说着走吧走吧。可是兰卡的故事终究属于兰卡，留在那个海岛国家，梦醒的时候我们还是要离开。

成都今天的天空和有一天海边的兰卡很像，当时大家都忙于日落留影，小哥却拉着我一起爬上了海边的礁石山。站在高处的那一瞬，目光所即尽是瑰色的海浪，零星几个海鸟掠过，像是轻声道了一句送别。爽朗的少年恰巧在这时说起了他的志向，四年后等他结束他的必修学业，他想来中国，来中国读大学，做一名厨师。问起原因时他这样说，他喜欢他认识的所有中国人。十几岁的无忧少年，头顶的云朵似乎都会比我们少几片，说出的话语确真挚而诚恳。我看着他干净明亮的眼睛，那里面倒映着兰卡的海，但好像又掺杂着什么，像是想喷涌而出闪烁耀人的太阳，那里编织着他自己的锡兰梦。
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

</div>
  </ion-content>
</ion-view>
