<ion-view view-title="船员">
  <ion-content>
    <ion-list>
      <div class="chatscate">
          <p >特殊贡献</p>
      </div>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#">
        <img ng-src="img/articleIcon/ming.png">
        <h2>PRT名人堂</h2>
        <p>_(:3=)_程序员正在赶工</p>
        <!-- <i class="icon ion-chevron-right icon-accessory"></i> -->
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#">
        <img ng-src="img/articleIcon/captain.png">
        <h2>历届Captain</h2>
        <p>_(:3=)_程序员正在赶工</p>
        <!-- <i class="icon ion-chevron-right icon-accessory"></i> -->
      </ion-item>

      <div class="chatscate">
          <p >通讯录</p>
      </div>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.userId}}">
        <img ng-src="{{chat.icon}}">
        <h2>{{chat.username}}</h2>
        <p>职位：{{chat.position}}</p>
        <!-- <i class="icon ion-chevron-right icon-accessory"></i> -->

        <!-- <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button> -->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
