<ion-view view-title="PRT内部人员通道">
  <ion-content class="padding">
    <section id="banner">
      <h2>PRT</h2>
      <p>真是一个牛逼的公司。为什么这么牛逼。简直Amazing！</p>
      <ul class="actions">
        <li><a class="button special" href="#/tab/post">发表文章</a></li>
        <!-- <li><a href="#" class="button">按钮2</a></li> -->
      </ul>
    </section>

  <!-- Main -->
    <section id="main" class="container">

      <section class="box special">
        <header class="major">
          <h2>放一些最新的PRT内部咨询？？？
          <br />
          </h2>
          <p>吧啦吧啦一堆东西0.0我也不知道现在写啥<br />
          所以就先占着空格吧_(:3=)_</p>
        </header>
        <span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
      </section>

      <section class="box special features">
        <div class="features-row">
          <section>
            <span class="icon major fa-bolt accent2"></span>
            <h3>内容A</h3>
            <p>我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。</p>
          </section>
          <section>
            <span class="icon major fa-area-chart accent3"></span>
            <h3>内容B</h3>
            <p>我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。</p>
          </section>
        </div>
        <div class="features-row">
          <section>
            <span class="icon major fa-cloud accent4"></span>
            <h3>内容C</h3>
            <p>我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。</p>
          </section>
          <section>
            <span class="icon major fa-lock accent5"></span>
            <h3>内容D</h3>
            <p>我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。</p>
          </section>
        </div>
      </section>
    </section>

</div>
  </ion-content>
</ion-view>
