<ion-view view-title="PRT内部人员通道">
  <ion-content class="padding">
    <section id="banner">
      <h2>PRT</h2>
      <p>真是一个牛逼的公司。为什么这么牛逼。简直Amazing！</p>
      <ul class="actions">
        <li><a href="post.php" class="button special">发表文章</a></li>
        <li><a href="#" class="button">按钮2</a></li>
      </ul>
    </section>

  <!-- Main -->
    <section id="main" class="container">

      <section class="box special">
        <header class="major">
          <h2>放一些最新的PRT内部咨询？？？
          <br />
          </h2>
          <p>吧啦吧啦一堆东西0.0我也不知道现在写啥<br />
          所以就先占着空格吧_(:3=)_</p>
        </header>
        <span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
      </section>

      <section class="box special features">
        <div class="features-row">
          <section>
            <span class="icon major fa-bolt accent2"></span>
            <h3>内容A</h3>
            <p>我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。</p>
          </section>
          <section>
            <span class="icon major fa-area-chart accent3"></span>
            <h3>内容B</h3>
            <p>我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。</p>
          </section>
        </div>
        <div class="features-row">
          <section>
            <span class="icon major fa-cloud accent4"></span>
            <h3>内容C</h3>
            <p>我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。</p>
          </section>
          <section>
            <span class="icon major fa-lock accent5"></span>
            <h3>内容D</h3>
            <p>我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。我也不知道放啥QWQ先占着空位吧。</p>
          </section>
        </div>
      </section>
    </section>

  <!-- CTA -->
    <section id="cta">

      <h2>联系程序员</h2>
      <p>平台如果出现了啥问题，在下面输入内容，联系派派_(:3=)_这样可以有个即使的反馈和修改</p>

      <form>
        <div class="row uniform 50%">
          <div class="8u 12u(mobilep)">
            <textarea name="email" id="email" placeholder="反馈问题" rows="2" style="resize:none"></textarea>
          </div>
          <div class="4u 12u(mobilep)">
            <input type="submit" value="发送biu" class="fit" />
          </div>
        </div>
      </form>

    </section>
</div>
  </ion-content>
</ion-view>
