/* Empty. Add your own CSS if you like */
.badgeimg img{
  width:50%;
  margin-left: 25%;
}

/*.iconcolor i{
  color: rgb(0, 82, 156);
}*/

.bar.bar-stable{
    background-color: rgb(51, 124, 216);
}
.bar.bar-stable .title{
  color:white;
}
ion-view.pane{
  background-color: rgb(240, 239, 245);
}
.card{
  box-shadow:none;
}
.chatscate{
  height:25px;
  background-color: rgb(240, 239, 245);
  color:grey;
}
.chatscate p{
  padding-left: 10px;
  padding-top: 2px;
}
.button.button.back-button.buttons.button-clear.header-item{
  color:white;
}
/*
#load{
  text-align: center;
  height:100%;
  width:100%;
  background-color:rgba(102, 206, 255, 1);
  /* background-color: rgba(233, 233, 232, 1); */
  color:white;
  z-index:100;
  float:left;
  position:fixed;
  top:0;
  left:0;
  display: block;
}
#load img{
  width:100%;
  margin: 0 auto;
}*/
